[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
pytest = "*"

[packages]
pandas = "*"
glob3 = "*"
fastapi = "*"
uvicorn = "*"
plotly = "*"
requests = "*"

[requires]
python_version = "3.8"
